{% extends 'Hood/base.html' %}
{% block title %}Album details{%endblock%}
{% block album_active %}active{%endblock%}

{% block body %}
<div class="container-fluiid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a new Neighbourhood</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'Hood/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="bt btn-success">submit</button>
                            </div>
                        </div>


                    </form>


        </div>
    </div>
</div>
    </div>
</div>
{%endblock%}