{% block title %}{{ project }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<link rel="shortcut icon" type="image/png" href=""/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href=""/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container-fluid songs-container">
    <div class="row">

        <!-- Left neighbourhood Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'detail' neighbourhood.id %}">                            {{ neyba.name }}
                        </a>
                    <h1> <small>{{ neighbourhood.name }}</small></h1>
                    <h2>{{ neighbourhood.description }}</h2>
                </div>
            </div>
        </div>

        <!-- Right details Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="">View All</a></li>
                <li role="presentation"><a href="{% url 'project-add' %}">Create Project</a></li>
                <li role="presentation"><a href="{% url 'business-add' %}">Create Business</a></li>

            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Details</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>location</th>
                             <th>population</th>
                            <th>Members</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ neighbourhood.name }}</td>
                                <td>{{ neighbourhood.location }}</td>
                                <td>{{ neighbourhood.population }}</td>
                                <td>{{ neighbourhood.users.|length}}</td>


                                <td>

                                </td>
                                <td>
                                    <br>
                                    <form action="{% url 'neighbourhood-delete' neighbourhood.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ neighbourhood.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>
<div class="container">

    <div class="row">
        <div class="col-sm-12">
             </div>
    {% if project %}
            {% for project in project %}
    <div class="col-md-6 sm-6 col-lg-6">
                    <div class="thumbnail">
                        <a href="{% url 'detail' project.id %}">
                            {{ project.title }}
                              </a>
                        <div class="caption">
                            <br>
                            <div class="footer">
                                {{ project.body }}
                            </div>
                        </div>
                         {% endfor %}
                    </div>
        {% else %}
       <h1 class="text-center">Projects</h1>
       <h1>No projects</h1>
       {% endif %}
    </div>
    </div>
</div>
    {% if business %}
            {% for business in business %}
        <div class="col-md-12 sm-12 col-lg-12">
                    <div class="thumbnail">
                        <a href="{% url 'detail' project.id %}">
                            {{ business.business_name }}
                              </a>
                        <div class="caption">
                            {{ business.email_address }}

                            <br>
                            <div class="footer">
                                {{ business.email_address }}
                            </div>
                        </div>
                         {% endfor %}
                    </div>
        {% else %}
       <h1 class="text-center">Business</h1>
       <h1>No Business yet</h1>
       {% endif %}
    </div>


{% endblock %}