{% block title %}{{ project }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<link rel="shortcut icon" type="image/png" href=""/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href=""/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="">
                         {% if user.project.project_image %}
                             <img src="{{project.project_image.url}}" class="img-responsive">
                    </a>
                        {% else %}
                        <h1>no image to display</h1>
                        {% endif %}
                    </a>
                    <h1>{{ project.title }} <small>{{ project.postDate }}</small></h1>
                    <h2>{{ album.user }}</h2>
                </div>
            </div>
        </div>

        <!-- Right details Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="">View All</a></li>
                <li role="presentation"><a href="">Add New Project</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Details</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>username</th>
                            <th>Neighbour</th>
                             <th>location</th>
                            <th>postDate</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ project.user }}</td>
                                <td>{{ project.neighbourhood }}</td>
                                <td>{{ project.profile }}</td>
                                <td>{{ project.location }}</td>
                                <td>{{ project.postDate }}</td>


                                <td>

                                </td>
                                <td>
                                    <br>
                                    <form action="" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}