
{% extends 'Hood/base.html' %}
{% block body %}

<div class="container">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
             </div>
    {% for project in all_project %}
    <div class="col-md-12 sm-12 col-lg-12">
                    <div class="thumbnail">
                        <a href="{% url 'detail' project.id %}">
                            {% if user.project.project_image %}
                             <img src="{{project.project_image.url}}" class="img-responsive">
                        {% else %}
                        <h1>no image to display</h1>
                        </a>
                        {% endif %}
                        <div class="caption">
                            <h2>{{ project.title }}</h2>
                            <h4>{{ project.post}}</h4>
                            <br>
                            <div class="footer">
                            <h4>{{ project.review}}</h4>
                            </div>

                             <!-- View Details -->
                             <a href="{% url 'detail' project.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                            <form action="" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="" />
                                <button type="submit" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                            <!--edit-album-->
                            <form action="" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="neighbours_id" value="" />
                                <button type="submit" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}

{% endfor %}
        </div>
    </div>
</div>

<style>
  body {
background-color:black;
}
ul.errorlist {
    padding-left: 0;
}
ul.errorlist > li {
    list-style: none;
}
.navbar {
    border-radius: 0;
    padding:50px;
}
.navbar-brand {
    font-family: 'Satisfy', cursive;
}
.glyphicon-plus {
    color: #CCCCCC;
    font-size: 16px;
}
.glyphicon-off {
    color: #FDB230;
}
</style>
{% endblock %}