
{% extends 'Hood/base.html' %}
{% block body %}

<div class="container">

    <div class="row">
        <div class="col-sm-12">
             </div>
    {% for neyba in neighbourhood %}
    <div class="col-md-6 sm-6 col-lg-6">
                    <div class="thumbnail">
                        <a href="{% url 'detail' neyba.id %}">
                            {{ neyba.name }}
                              </a>
                        <div class="caption">
                            <br>
                            <div class="footer">
                                {{ neyba.description }}
                            </div>

                             <!-- View Details -->
                             <a href="{% url 'detail' neyba.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                            <a href="{% url 'detail' neyba.id %}" class="btn btn-primary btn-sm" role="button">Join</a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}

{% endfor %}

        </div>
    </div>
</div>


<style>
ul.errorlist {
    padding-left: 0;
}
ul.errorlist > li {
    list-style: none;
}
.navbar {
    border-radius: 0;
    padding:50px;
}
.navbar-brand {
    font-family: 'Satisfy', cursive;
}
.glyphicon-plus {
    color: #CCCCCC;
    font-size: 16px;
}
.glyphicon-off {
    color: #FDB230;
}
</style>
{% endblock %}