{% extends 'Hood/base.html' %}
{% block body%}


<div class="container">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-default">
		  <div class="panel-heading"><h3>Search results for the search term: <strong>{{message}}</strong></h3></div>
		  {%if hoods %}
		  	{% for hood in hoods %}
			<div class="panel-body">
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-10" style="padding-top:11px">
						<a href="{% url 'detail' hood.id %}">{{hood.name}}</a>
					</div>
				</div>
			</div>
		{%endfor%}
		{%else%}
		<div class="panel-body">
				<h3 class="text-center">No  neighbourhood the name <strong>{{message}}</strong> exists!</h3>
			</div>
		{%endif%}


	</div>
	</div>
	<div class="col-md-2"></div>

</div>



{%endblock%}